<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>work</key>
		<data></data>
		<key>member</key>
		<array>
			<dict>
				<key>userID</key>
				<string>0</string>
				<key>name</key>
				<string>A</string>
				<key>password</key>
				<string>123456</string>
				<key>number</key>
				<string>202011101</string>
			</dict>
			<dict>
				<key>userID</key>
				<string>1</string>
				<key>name</key>
				<string>B</string>
				<key>number</key>
				<string>202011102</string>
				<key>password</key>
				<string>123456</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>work</key>
		<data></data>
		<key>member</key>
		<array>
			<dict>
				<key>userID</key>
				<string>2</string>
				<key>name</key>
				<string>C</string>
				<key>number</key>
				<string>202011103</string>
				<key>password</key>
				<string>123456</string>
			</dict>
			<dict>
				<key>userID</key>
				<string>3</string>
				<key>name</key>
				<string>D</string>
				<key>number</key>
				<string>202011104</string>
				<key>password</key>
				<string>123456</string>
			</dict>
			<dict>
				<key>userID</key>
				<string>2</string>
				<key>name</key>
				<string>xaioming</string>
				<key>number</key>
				<string>202011105</string>
				<key>password</key>
				<string>123456</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>member</key>
		<array>
			<dict>
				<key>userID</key>
				<string>4</string>
				<key>name</key>
				<string>E</string>
				<key>number</key>
				<string>202011105</string>
				<key>password</key>
				<string>123456</string>
			</dict>
			<dict>
				<key>userID</key>
				<string>5</string>
				<key>name</key>
				<string>F</string>
				<key>number</key>
				<string>202011106</string>
				<key>password</key>
				<string>123456</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
